<!--The content below is only a placeholder and can be replaced.-->



<div style="display: flex ; justify-content: space-between">
  <div class = "box1">
    我是一个盒子
  </div>
  <div class = "box1">
    我是一个盒子
  </div>
  <div class = "box1">
    我是一个盒子
  </div>
  <div class = "box1">
    我是一个盒子
  </div>
  <div class = "box1">
    我是一个盒子
  </div>
  <div class = "box1">
    我是一个盒子
  </div>
  <div class = "box1">
    我是一个盒子
  </div>
  <div class = "box1">
    我是一个盒子
  </div>
  <div class = "box1">
    我是一个盒子
  </div>
  <div class = "box1">
    我是一个盒子
  </div>


</div>
