.informBoxBoarder{
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-right: solid 2px;
  border-top: solid 2px;
  width: 300px;
  border-color: cornflowerblue;
}

.center {
  display: flex;
  justify-content: center;/* m a in axis 居中 ( 水平 居中 ) */
  /* 不信就取消注释掉以下内容看看 border 效果哈 */
  /*border: 1px red solid;*/
}
