
<h4>Online Order Here:</h4>
<div>

</div>
<div class="center"><button class="btn btn-success" style="width: 300px" (click)="clickBun()">Bun</button></div>
<div class="center"><button class="btn btn-success" style="width: 300px" (click)="clickPatty()">Patty</button></div>
<div class="center"><button class="btn btn-success" style="width: 300px" (click)="clickChicken()">Chicken</button></div>
<div class="center"><button class="btn btn-success" style="width: 300px" (click)="clickCheese()">Cheese</button></div>
<div class="center"><button class="btn btn-success" style="width: 300px" (click)="clickBacon()">Bacon</button></div>
<div class="center"><button class="btn btn-success" style="width: 300px" (click)="clickLnT()">Lettuce and Tomato</button></div>
<div class="center"><button class="btn btn-primary" style="width: 300px" (click)="clickClear()">Clear</button></div>
<div class="center"><button class="btn btn-primary" style="width: 300px" (click)="clickSubmit()">Submit Order</button></div>

<hr>
<h4>Selected Ingredients</h4>
<div>
  <span *ngIf="isBun" class="informBoxBoarder">Bun</span>
  <span *ngIf="isPatty" class="informBoxBoarder">Patty</span>
  <span *ngIf="isChicken" class="informBoxBoarder">Chicken</span>
  <span *ngIf="isCheese" class="informBoxBoarder">Cheese</span>
  <span *ngIf="isBacon" class="informBoxBoarder">Bacon</span>
  <span *ngIf="isLnT" class="informBoxBoarder">Lettuce and Tomato</span>
</div>
<hr>
<h4>Serving:</h4>
<h3 class="center" *ngIf="isServe">{{serveMsg}}</h3>
